@model AspNetMVC_Inlamningsuppgift_2.Models.SignInModel

@{
    ViewData["Title"] = "SignIn";
}

<section id="header-background">
    <div class="container">
        <!-- Navbar Section-->
        <partial name= "_NavbarPartial" /> 
    </div>
</section>

<!-- SignIn Form Section-->
<partial name= "_SignInFormPartial" />


    <!-- Footer -->
<partial name= "_FooterPartial" />   


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
