@{
    ViewData["Header"] = "Contact Us";
    ViewData["Title"] = "Contact";
}

<section id="header-background">
    <div class="container">

        <!-- Navbar Section-->
        <partial name="_NavbarPartial" />
       
            
        <!-- Services Section-->
        <partial name="_ServicePartial" />

    </div>
</section>


<!-- Estimates Section-->
<partial name="_EstimatesPartial" />

    
<!-- Footer section-->
<partial name="_FooterPartial" />
