    

<section id="header-background">
    <div class="container">
        <!-- Navbar Section-->
        <partial name= "_NavbarPartial" /> 
        <!-- Header Section-->
        <partial name= "_HeaderPartial" />
    </div>
</section>

    <!-- About us Section-->
<partial name= "_AboutUsPartial" />
    
    <!-- Intro Section -->
<partial name= "_IntroPartial" />

    <!-- Meeting section -->
<partial name= "_MeetingPartial" /> 

    <!-- Footer -->
<partial name= "_FooterPartial" />        
