@{
    ViewData["Header"] = "Services";

    ViewData["Title"] = "Service";
}

<section id="header-background">
    <div class="container">
        <!-- Navbar Section-->
        <partial name="_NavbarPartial" />
            
        <!-- Services Section-->
        <partial name="_ServicePartial" />
    </div>
</section>

       
<!-- Showcase Section-->
<partial name="_ShowcasePartial" />

<!-- Footer section-->
<partial name="_FooterPartial" />