<section id="about">
    <div id="about-container" class="container d-flex">
        <img id="about-bg-triangle" src="images/about-background-triangle2.png" alt="">
        <div id="about-img">
            <img src="images/about-triangle-square.png" alt="">
        </div>

        <div id="about-text">
            <div id="about-upper-text">
                <div class="d-flex">
                    <span>About us</span>
                    <hr/>
                </div>
                <h2>You can't use up <br> creativity.</h2>
                <p>Does any industry face a more complex audience journey and marketing sales process than B2B technology? Consider the number of people who influence a sale, the length of the decision-making cycle, the competing interests of the people who purchase, implement, manage, and use the technology. It’s a lot meaningful content here.</p>
            </div>
    
            <div id="about-lower-text">
                <div id="upper-triangle">
                    <img src="images/about-triangle.png" alt="">
                </div>
                <h2>15</h2>
                <h3>Years Of<br> Experience</h3>
                <div id="about-buttons">
                        
                    <a id="learn-btn" class="btn btn-primary" href="#">Learn More</a>
                    <a id="intro-btn" class="btn btn-primary" href="#" >Video intro Video</a>
                </div>
                <div id="lower-triangle">
                    <img src="images/about-triangle.png" alt="">
                </div>
            </div>
        </div>
    </div>

</section>