<footer id="footer">        
    <div id="footer-bg">
        <img id="footer-big-circle" src="@Url.Content("~/images/footer-big-circle.png")"" alt="">
        <img id="footer-small-circle" src="@Url.Content("~/images/footer-small-circles.png")" alt="">

        <div id="footer-container">
            <div id="text-container">
                <div id="left-text" class="text-holder">
                    <h2>OmniVus</h2>
                    <p>The web has changed a lot since we posted our<br> first article back in 2007. The team at Mattin-<br> 
                        Group has changed too, as have the <br>things that we bring to our community<br> 
                        conferences, books, and our membership<br> added to the online magazine.</p>
                    <p>One thing that hasn’t changed is that we’re a small team — with most of us not working</p>
                </div>

                <div id="right-text" class="text-holder">
                    <h2>Working Hours</h2>
                    <p>Monday - Friday: 7:00 - 17:00</p>
                    <p>Saturday: 7:00 - 12:00</p>
                    <p>Sunday and holidays: 8:00 - 10:00</p>
                    <span><b>For more than 15 years</b>, IT Service has been a reliable partner in the field of logistics and cargo forwarding.</span>
                </div>
            </div>
            <div id="footer-foot">
                <p>Copyright © Mattin-Lassei Group AB - 2022</p>
            </div>
        </div>
    </div>
</footer>