<section id="header">

<div id="header-text">
    <p>Promote any product, service or online course.</p>
    <h2>Get every it Services Here</h2>
    <div id="header-img-container">
        <div id="left-img">
            <img src="images/header-red-circle.png" alt="">
            <span>IT Product</span>
        </div>
        <div id="right-img">
            <img src="images/header-blue-circle.png" alt="">
            <span>IT Services</span>
        </div>

    </div>
</div>

<div id="header-picture">
    <img src="images/header-right-img.png" alt="">
</div>

</section>