<section id="intro">
    <div class="container d-flex">
        <div id="intro-text-container">
            <div class="d-flex">
                <span>Intro</span>
                    <hr/>
            </div>
            <h2>How we growth our business.</h2>
            <h3>The introduction of cloud and mobile technologies<br> into enterprise software.</h3>
            <p>hether you are building an enterprise web portal or a state-of-the-art<br> website, you always need the right modern tools. Well-built and<br> maintained .NET frameworks provide those tools in abundance, allowing<br> maintained .NET frameworks provide those tools in abundance, allowing<br> developers to save time, re-use code, and streamline the back end.<br> As software development tools continuously.</p>
            <a id="learn-btn" class="btn btn-primary" href="#">Learn more</a>
        </div>
            <div id="intro-showcase-container">
            <img src="images/intro-showcase.png" alt="">
            </div>    
    </div>
</section>