<section id="services">
    <div id="services-text-container">

        <h2>@ViewData["Header"]</h2>

        <div id="services-text">
            <a asp-controller"Home" asp-action="Index">Home</a><p>|</p><a asp-controller"Home" asp-action="@ViewData["Title"]">@ViewData["Title"]</a>
        </div>

    </div>
</section>